<!DOCTYPE HTML>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Omega Nu / Dashboard</title>
	<!-- Bootstrap Core CSS -->
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<!-- FAVICON -->
	<link rel="shortcut icon" href="img/favicon/omega.ico" type="image/x-icon" >

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</head>
<body>
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<a href="/"><img src="img/other/omega.png" width="50" height="50" id="logo_image"></a>
	</nav>
	
	<div class="container">

		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
				<form role="form" id="container" method="post" action="dashboard">
					<h3>Dashboard. <%=name%>.</h3>
					<h6>Update your profile information.</h6>
					<hr>
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="text" name="first_name" id="first_name" class="form-control input-md" placeholder="First Name" tabindex="1">
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="text" name="last_name" id="last_name" class="form-control input-md" placeholder="Last Name" tabindex="2">
							</div>
						</div>
					</div>
					<div class="form-group">
						<input type="text" name="organization" id="organization" class="form-control input-md" placeholder="Current Organization" tabindex="3">
					</div>
					<div class="form-group">
						<input type="text" name="concentrations" id="concentrations" class="form-control input-md" placeholder="Concentrations" tabindex="4">
					</div>
					<div class="form-group">
						<input type="text" name="skills" id="skills" class="form-control input-md" placeholder="Skills" tabindex="4">
						<p class="help-block">Separate skills and concentrations by comma.</p>
					</div>
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="text" name="website" id="website" class="form-control input-md" placeholder="Personal Website" tabindex="5">
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="text" name="linkedin" id="linkedin" class="form-control input-md" placeholder="Linkedin Account" tabindex="6">
							</div>
						</div>
					</div>
					<label>Bio information.</label>
					<textarea class="form-control" name="bio" id="bio" rows="3"></textarea>
					<!-- <div class="form-group">
						<label for="picture">Upload Profile Picture</label>
						<input type="file" name="picture" id="picture">
                    </div> -->
                    <br>
                    <div class="form-group">
                        <input type="password" name="password_old" id="password_old" class="form-control input-md" placeholder="Old Password" tabindex="5">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password_new" id="password_new" class="form-control input-md" placeholder="New Password" tabindex="5">
                    </div>
					<hr>
					<div class="row">
						<div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
							<input type="submit" id="submit_button" value="Update" class="btn btn-primary btn-block btn-md center" tabindex="7">
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
</body>
<html>

<style type="text/css">
	#container {
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 10px;
		padding: 50px;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	#logo_image {
		margin-left: 20px;
		padding: 10px;
	}
	.navbar-default {
		background-color: transparent;
	}
</style>
